<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.cordova.plugin.ad.admob.mojiva"
    version="1.0.1">
	
    <name>Cordova Admob-Mojiva Mediation Plugin</name>
    <description>Cordova Admob-Mojiva Mediation Plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,admob,monetisation,mojiva,mediation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-admob</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <platform name="ios">
		<source-file src="src/ios/libAdapterMojiva.a" framework="true" />
		
		<!-- dependency -->
		<source-file src="src/ios/libAdapterSDKMojiva.a" framework="true" />
		<framework src="MediaPlayer.framework" />
		<framework src="CoreMotion.framework" />
		<framework src="CoreLocation" />
    </platform>

	<!-- dependency -->
	<dependency id="com.cranberrygame.cordova.plugin.ad.admob" />
</plugin>
