<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.cordova.plugin.ad.admob.mojiva"
    version="1.0.1">
	
    <name>Cordova Admob-Mojiva Mediation Plugin</name>
    <description>Cordova Admob-Mojiva Mediation Plugin</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>cordova,plugin,ad,admob,monetisation,mojiva,mediation</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-ad-admob</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-ad-admob/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <platform name="ios">
<!--
		<source-file src="src/ios/libAdapterMojiva.a" framework="true" />
-->		
		<!-- dependency -->
<!--
 
 "_OBJC_CLASS_$_MASTAdView", referenced from:
 
===========
 
duplicate symbol:
duplicate symbol _OBJC_METACLASS_$_GADMAdaptorMojivaInterstitial in:
cordova/platforms/ios/HelloCocoon/Plugins/com.cranberrygame.cordova.plugin.ad.admob.mojiva/libAdapterMojiva.a(GADMAdaptorMojivaInterstitial.o)
cordova/platforms/ios/HelloCocoon/Plugins/com.cranberrygame.cordova.plugin.ad.admob.mojiva/libAdapterSDKMojiva.a(GADMAdaptorMojivaInterstitial.o)


-->
		<source-file src="src/ios/libAdapterSDKMojiva.a" framework="true" />
        
        <framework src="MediaPlayer.framework" />
		<framework src="CoreMotion.framework" />
		<framework src="CoreLocation.framework" />
        
        
<!--
        <framework src="AdSupport.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="AVFoundation.framework"/>
        <framework src="CFNetwork.framework"/>
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="EventKit.framework" />
        <framework src="EventKitUI.framework"/>
        <framework src="Foundation.framework" />
        <framework src="MessageUI.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Social.framework" weak="true"/>
        <framework src="UIKit.framework" />
        <framework src="WebKit.framework" />
        <framework src="Security.framework" />
-->
    </platform>

	<!-- dependency -->
	<dependency id="com.cranberrygame.cordova.plugin.ad.admob" />
</plugin>
